/* 修改条目高度 */
.WTCTM-owo .m-daily .m-plylist .itm,
.WTCTM-uwu .m-recordscroll .m-plylist .itm,
.WTCTM-xwx .m-search .m-plylist .itm,
.WTCTM-awa .m-yrsh .m-plylist .itm,
.WTCTM-qwq .m-plylist_playlist .lst .itm {
    height: 42px;
}

/* 序号垂直居中 */
.WTCTM-owo .m-daily .m-plylist .itm:before,
.WTCTM-uwu .m-recordscroll .m-plylist .itm:before,
.WTCTM-xwx .m-search .m-plylist .itm:before,
.WTCTM-awa .m-yrsh .m-plylist .itm::before,
.WTCTM-qwq .m-plylist_playlist .lst .itm:before {
    height: 42px;
    line-height: 42px;
}

/* 文字垂直居中 */
.WTCTM-owo .m-daily .m-plylist .td,
.WTCTM-uwu .m-recordscroll .m-plylist .td,
.WTCTM-xwx .m-search .m-plylist .td,
.WTCTM-awa .m-yrsh .m-plylist .td,
.WTCTM-qwq .m-plylist_playlist .lst .td {
    height: 42px;
    line-height: 32px;
}

/* 图标垂直居中 */
.WTCTM-owo .m-daily .m-plylist .ico,
.WTCTM-uwu .m-recordscroll .m-plylist .ico,
.WTCTM-xwx .m-search .m-plylist .ico,
.WTCTM-awa .m-yrsh .m-plylist .ico,
.WTCTM-qwq .m-plylist_playlist .lst .ico {
    margin: 12px 0 0 8px;
}

/* 封面预留位置 */
.WTCTM-owo .m-daily .m-plylist .tit,
.WTCTM-uwu .m-recordscroll .m-plylist .tit,
.WTCTM-xwx .m-search .m-plylist .tit,
.WTCTM-awa .m-yrsh .m-plylist .tit,
.WTCTM-qwq .m-plylist_playlist .lst .tit {
    margin-left: 42px;
}

/* 音乐封面居中 */
.WTCTM-owo .m-daily .m-plylist .cover,
.WTCTM-uwu .m-recordscroll .m-plylist .cover,
.WTCTM-xwx .m-search .m-plylist .cover,
.WTCTM-awa .m-yrsh .m-plylist .cover,
.WTCTM-qwq .m-plylist_playlist .lst .cover {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 6px;
}